<div class="about-background">
	<%= image_tag "cover.jpg", class: "cover" %>
	<div class="cover-headings">
		<p>désign. innovation. efficacité.</p>
	</div><!-- cover heading ends here -->
	
	<div class="history-content">
		<br><br>
		<h1>Notre Histoire</h1><br>
		<p>La société de Génie Civil G & L Construction, est une firme haïtienne qui offre ses services professionnels dans l’exécution des projets d’Adduction d’Eau Potable, d’Irrigation, de drainage et de construction de bâtiment.<br><br>Formée originellement autour d’un noyau restreint de professionnels expérimentés, cette société fondée le 9 Mai 1991, selon la note parue dans le journal « l’UNION » en date du 30 Avril 1991, a pour mission de servir la collectivité dans les domaines précités.<br><br>Dans chacune de ces disciplines, la société dispose de compétences et de facilités lui permettant la réalisation des dossiers techniques, l’exécution des travaux suivant les normes en vigueur ainsi que l’élaboration des plans de recolement.<br><br>La société peut prendre en main la direction complète d’un projet ou participer en tant que sous contractant dans la réalisation des projets de grande envergure.</p>
		<br><br><hr><br>
		
		<div class="founder-portrait-content clear">	
			<div class="genois">
				<%= image_tag "Genois.jpg", class: "img-thumbnail" %>
				<h3>Pierre Michel Genois</h3>
				<h5>Responsable Administratif</h5><br>
				<p>L’administration de la firme est confiée à l’ingénieur GENOIS Pierre Michel de 1991 à date. Copropriétaire de l’entreprise, il a 29 années d’expérience. Il a travaille au service de drainage de Port-au-Prince 1979-1980 puis a la CAMEP de 1980 a 1995 ou il a occupe les fonctions suivantes:<br><br>
				<ul>
					<li>Responsable de réseau - Chef de Service Construction / Contrôle pour l’étude et la supervision des projets.</li> 
					<li>Coordonnateur Technique de Carrefour et de Pétion-Ville.</li>
					<li>En 1996, il représentait CDS en tant que Maitre d’Ouvrage Délégué dans la supervision des travaux de construction du château d’eau à cite Soleil.</li>
					<li>De 1998 a juin 2000, il occupait la fonction de Directeur de CADEPA (Combite pour l’Alimentation et la Distribution d’Eau Potable et d’Assainissement a Cite Soleil).</li>
				</ul>
				</p>
			</div><!-- genois ends -->
			<div class="larrate">
				<%= image_tag "Laratte.jpg", class: "img-thumbnail" %>	
				<h3>Wilson Laratte</h3>
				<h5>Responsable Technique</h5><br>
				<p>La Direction Technique est assurée par l’ingénieur LARATTE Wilson de 1991 à date. Copropriétaire de la firme, il a 31 ans d’expérience. Il a travaillé à Haïti Habitat pendant sept (7) années (de 1982 à 1989) comme responsable des travaux dans des projets de génie civil tels que: Construction de bâtiments d’envergure, Construction de Dalots et canaux de drainage de la Zone Métropolitaine, d’irrigation au Canal Tête Morte, Ti Sous, Rivière Blanche, Croix des bouquets et exécution des projets d’Adduction d’Eau Potable, puis à la CAMEP de 1990 à 1994 comme:
				<ul>
					<li>Ingénieur attaché à la Direction de la planification dans l’Etude et la Supervision des projets.</li>
					<li>Responsable du Réseau d’Adduction et de Distribution d’Eau Potable.</li>
					<li>Chef de l’Unité Administrative et chef de l‘Unité des Opérations et Entretiens</li>
				</ul></p>
				<p>De avril 1995 à avril 1997, il a travaillé à la (MINUHA/ MANUH/ MIPONUH) dans l’élaboration, l’exécution et la supervision des projets d’infrastructure. De septembre 1997 à septembre 2000, il a travaillé comme ingénieur Consultant National au projet d’Assistance Technique à la Police Nationale d’Haïti financé par le programme des Nations Unies pour le Développement (PNUD).</p>
			</div><!-- larrate ends -->
		</div><!-- founder portrait content ends here -->
		<hr>
		<div class="staff-content clear">
			<h1 class="left">Notre Équipe</h1>
			<br>
			<div class="staff-div">
			<%= image_tag "stockprofile.jpg", class: "img-circle" %>
			<h5>Walter Beauvil</h5>
			<p>Chef de Chantier<br>Années d' Expérience: 30 ans</p>
			</div>
			<div class="staff-div">
			<%= image_tag "stockprofile.jpg", class: "img-circle" %>
			<h5>Jean Robert Timothee</h5>
			<p>Ingénieur Résident<br>Années d' Expérience: 7 ans</p>
			</div>
			<div class="staff-div">
			<%= image_tag "stockprofile.jpg", class: "img-circle" %>
			<h5>Jean Mariot Cineas</h5>
			<p>Ingénieur Technicien Supérieur<br>Années d' Expérience: 4 ans</p>
			</div>
			<div class="staff-div">
			<%= image_tag "stockprofile.jpg", class: "img-circle" %>
			<h5>Sony Jean</h5>
			<p>Topographe<br>Années d' Expérience: 12 ans</p>
			</div>
			<div class="staff-div">
			<%= image_tag "stockprofile.jpg", class: "img-circle" %>
			<h5>Elysée Béleck</h5>
			<p>Contrôle Qualité<br>Années d' Expérience: 3 ans</p>
			</div>
			<div class="staff-div">
			<%= image_tag "stockprofile.jpg", class: "img-circle" %>
			<h5>Daniel Versaille</h5>
			<p>Contrôle Qualité<br>Années d' Expérience: 3 ans</p>
			</div>
			<div class="staff-div">
			<%= image_tag "stockprofile.jpg", class: "img-circle" %>
			<h5>Bellande Petit Frére</h5>
			<p>Autre Responsables pour Comptabilité<br>Années d' Expérience: 21 ans</p>
			</div>
			<div class="staff-div">
			<%= image_tag "stockprofile.jpg", class: "img-circle" %>
			<h5>Roodlyne R. D. Mesidor</h5>
			<p>Administration<br>Années d' Expérience: 3 ans</p>
			</div>
		</div><!-- staff content ends -->
	</div><!-- History Content Ends here -->
</div><!-- About background Ends -->
<div class="curve-content">
	<div class="curve-about"></div>
</div>
