<div class="carousel-home">
  <div id="slideshow-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#slideshow-home" data-slide-to="0" class="active"></li>
      <li data-target="#slideshow-home" data-slide-to="1"></li>
      <li data-target="#slideshow-home" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "home1.jpg", style: "padding-top: 70px;" %>
        <div class="carousel-caption">
          <h1>Exécution</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, eros ac bibendum luctus, lorem arcu rutrum augue, eu convallis orci lorem in justo.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "home6.jpg", style: "padding-top: 70px;" %>
        <div class="carousel-caption">
          <h1>Etudes</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, eros ac bibendum luctus, lorem arcu rutrum augue, eu convallis orci lorem in justo. </p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "home2.jpg", style: "padding-top: 250px;" %>
        <div class="carousel-caption">
          <h1>Supervision.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, eros ac bibendum luctus, lorem arcu rutrum augue, eu convallis orci lorem in justo.</p>
        </div>
      </div>
    </div><!-- End Item -->

    <!-- Controls -->
    <a class="left carousel-control" href="#slideshow-home" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#slideshow-home" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div><!-- carousel ends -->

<div class="homepage-intro-background">
	<div class="homepage-intro-content">
		<br><br><br><br>
		<p>La société de Génie Civil G & L Construction, est une firme haïtienne qui offre ses services professionnels dans l’exécution des projets d’Adduction d’Eau Potable, d’Irrigation, de drainage et de construction de bâtiment.</p>
		<br><br>

		<nav class="cl-effect-8 center">
			<%= link_to "Lire la Suite", about_path %>
		</nav>
	</div><!-- Homepage intro content ends -->
	<br><br><br><br>
</div><!-- homepage-intro-background ends -->

<div class="homepage-projects-background clear">
	<div class="homepage-projects-content">
		<br><br><br><br>
		<h1>Spécialisation</h1>
		<br>
		<br>
		<br>
		<div class="expertise-content center">
			<div class="expertise">
				<%= image_tag "water.png" %>
				<h4><br>Les Projets Hydrauliques</h4><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tellus quam.</p>
			</div>
			<div class="expertise">
				<%= image_tag "leaf.png" %>
				<h4><br>Irrigation</h4><br><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tellus quam.</p>
			</div>
			<div class="expertise">
				<%= image_tag "pipe.png" %>
				<h4><br>Drainage</h4><br><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tellus quam.</p>
			</div>
			<div class="expertise">
				<%= image_tag "building.png" %>
				<h4><br>Construction de Bâtiment</h4><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tellus quam.</p>
			</div>
		</div><!-- Expertise Content Ends -->
		<br><br>
		<div class="viewmore">
			<a href="work"><button class="btn btn-1 btn-1e">Voir Les Projets</button></a>
		</div>
	</div><!-- Homepage Projects Content Ends -->
</div><!-- Homepage Projects Background Ends -->
<div class="curve-content">
	<div class="curve"></div>
</div>

