<div class="projects-content">
	<%= image_tag "construction.jpg" %>
	<div class="project-headings clear">
		<p>Nous obtenons le travail terminé.</p>
	</div><!-- cover heading ends here -->
	<br><br><br>
		<div class="project-listing-header">
			<a href="#"><h1>Projets en Cour</h1></a><h1>|</h1>
			<a href="#"><h1>Projets Réalisés</h1></a>
		</div><!-- Project listing header ends -->
	<!-- JAVASCRIPT TO SHOW AND HIDE/ TOGGLE BETWEEN COMPLETED AND CURRENT PROJECTS -->
	<ul class="grid cs-style-4">
				<li>
					<figure>
						<div><%= image_tag "5.png" %></div>
						<figcaption>
							<h3>Safari</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1116775-Safari">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><%= image_tag "6.png" %></div>
						<figcaption>
							<h3>Game Center</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1118904-Game-Center">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><%= image_tag "2.png" %></div>
						<figcaption>
							<h3>Music</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><%= image_tag "4.png" %></div>
						<figcaption>
							<h3>Settings</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1116685-Settings">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><%= image_tag "1.png" %></div>
						<figcaption>
							<h3>Camera</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><%= image_tag "3.png" %></div>
						<figcaption>
							<h3>Phone</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1117308-Phone">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul><br><br><br><br><br><br><br>
</div><!-- projects content ends here -->
