<h1>Réparation de l'Eglise St Pierre</h1>
<br><br>

<h4 class="project-sub">Nom du client et du point de contact: UCLBP</h4>
<br>
<p><span style="font-weight: bold">Type de travail exécuté et durée d’exécution</span>: Réparation d’une église</p>
<br>

<div class="project-image-display">
	<%= image_tag "CP3-church1.JPG", class: "img-thumbnail" %>
	<%= image_tag "CP3-church2.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP3-church3.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP3-church4.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP3-church5.JPG", class: "img-thumbnail"  %>
</div>
<br>
<h2 class="center">Valeur contrat en gourdes: 7,898,025.00 gdes</h2>
<br><br>
<div class="center-page">
	<h1 class="goback-projects" id="goback4">Voir Projets en Cour à Nouveau</h1>
</div>