<h1>Construction du marché Ste Thérèse de Petit Trou de Nippes</h1>
<br><br>

<h4 class="project-sub">Nom du client et du point de contact: FAES</h4>
<br>
<p><span style="font-weight: bold">Type de travail exécuté et durée d’exécution</span>: Construction d’un module de 324 m2 avec structure en Béton armé et toit en tole, dépot de 72 m2, bloc sanitaire moderne et puits artésien.</p>
<br>

<div class="project-image-display">
	<%= image_tag "CP2-mar1.JPG", class: "img-thumbnail" %>
	<%= image_tag "CP2-mar2.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP2-mar3.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP2-mar4.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP2-mar5.JPG", class: "img-thumbnail"  %>
</div>
<br><br>
<div class="center-page">
	<a target="#top"><h1 class="goback-projects" id="goback2">Voir Projets en Cour à Nouveau</h1></a>
</div>