<h1>Réparation de l'école nationale de la ville des Baradères</h1>
<br><br>

<h4 class="project-sub">Nom du client et du point de contact: UCLBP</h4>
<br>
<p><span style="font-weight: bold">Type de travail exécuté et durée d’exécution</span>: réhabilitation d’une école nationale
de 10 salles de classe, une direction, une cuisine, un bloc sanitaire.</p>
<br>

<div class="project-image-display">
	<%= image_tag "CP3-school1.JPG", class: "img-thumbnail" %>
	<%= image_tag "CP3-school2.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP3-school3.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP3-school5.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP3-school4.JPG", class: "img-thumbnail"  %>
</div>
<br><br>
<div class="center-page">
	<a target="#top"><h1 class="goback-projects" id="goback5">Voir Projets en Cour à Nouveau</h1></a>
</div>