<h1>Réhabilitation du local abritant l’espace culturel de Petit Trou de Nippes</h1>
<br><br>

<h4 class="project-sub">Nom du client et du point de contact: BMPAD</h4>
<br>
<p><span style="font-weight: bold">Type de travail exécuté et durée d’exécution</span>: Rénovation piste de dance, podium, construction de trois (3) bugalow et bétonnage de 160 ml de route à l’intérieur du local.</p>
<br>

<div class="project-image-display">
	<%= image_tag "CP1-rehab1.JPG", class: "img-thumbnail" %>
	<%= image_tag "CP1-rehab2.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP1-rehab3.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP1-rehab4.JPG", class: "img-thumbnail"  %>
	<%= image_tag "CP1-rehab5.JPG", class: "img-thumbnail"  %>
</div>
<br>
<h2 class="center">Valeur contrat en gourdes: 2,720,574.30 gdes</h2>
<br><br>
<div class="center-page">
	<h1 class="goback-projects" id="goback">Voir Projets en Cour à Nouveau</h1>
</div>